* {
  padding: 0;
  margin: 0;  
}

#root {
  .groups {
    max-width: 1200px;
    margin: 0 auto;
  }
  .title {
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .group-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .count-down {
    margin-bottom: 1rem;
    text-align: center;
  }
  .grid-figure {
    flex-basis: calc(31.333% - 7rem);
    flex-shrink: 0;
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid #edeeed;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
    position: relative;
    @media only screen and (max-width: 480px){
      flex-basis: calc(100vw - 10rem);
    }
  }
  .single-tour {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background: #fff;
  }
  .grid-photo-wrap {
    position: relative;
  }
  .grid-photo {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: 0;
    max-width: none;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .button { 
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border:1px solid #25729a; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #3093c7;
  }
  .button.disabled {
    background-color: gray;
    border-color: gray;
    cursor: not-allowed;
  }
}
